<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashan.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.huashan.backend.entity.User">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="phone" column="phone" />
            <result property="role" column="role" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,phone,role,status,
        create_time
    </sql>

<!--    用户登录功能-->
    <select id="findByUsernameUser" resultType="com.huashan.backend.entity.User">
        select <include refid="Base_Column_List"/> from user where username=#{username}
    </select>

</mapper>
