<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashan.backend.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="com.huashan.backend.entity.Review">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="productId" column="product_id" />
            <result property="username" column="username" />
            <result property="content" column="content" />
            <result property="location" column="location" />
            <result property="image" column="image" />
            <result property="rating" column="rating" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,username,content,location,
        image,rating,create_time
    </sql>

    <select  id="findLatest" resultType="com.huashan.backend.entity.Review">
        select <include refid="Base_Column_List"/> from review
        order by create_time desc limit #{limit}
    </select>

    <select id="findAll" resultType="com.huashan.backend.entity.Review">
        select <include refid="Base_Column_List"/> from review
        order by create_time desc
    </select>
</mapper>
